<ul>
  {{debug collections.articles}}
  {{#each collections.articles}}
    <li>
      <a href="/{{this.paths.dir}}/{{this.paths.name}}/" class="portfolio-entry">
        {{this.title}}
      </a>
    </li>
  {{/each}}
</ul>
